.faq-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.faq-section .faq-section-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
}

.faq-section-container .faq-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.faq-section-heading .heading {
  font-size: var(--font-size-lv6);
  color: var(--text-title-color);
  font-weight: var(--font-weight-lv8);
}

.faq-section-heading .subheading {
  width: 800px;
  height: fit-content;
  font-weight: var(--font-weight-lv4);
  font-size: var(--font-size-lv2);
  color: var(--text-subtitle-color);
  line-height: 24px;
  text-align: center;
}

.faq-section-container .faq-section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
