/* menu section designing */
.menu {
  width: 100%;
  padding: 10px 48px 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* menu content container */
.menu-content {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

/* website logo design */
.menu-content .logo-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.logo-container .logo-background {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid var(--secondary-color);
  border-bottom: 0px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container .company-name {
  font-size: var(--font-size-lv3);
  font-weight: var(--font-weight-lv7);
  color: var(--accent-color-primary);
}

/* designing the menu navigator */
.menu-content .menu-page-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-page-navigator .menu-navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  height: 100%;
  gap: 20px;
}

.menu-navigation-list li {
  position: relative;

  padding: 4px 0;
  height: 100%;

  background-color: var(--primary-color);

  font-size: var(--font-size-lv2);
  font-weight: var(--font-weight-lv5);
  color: var(--text-title-color);

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
}

.menu-navigation-list li::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 0;

  width: 50%;
  height: 2px;
  border-radius: 100%;

  background-color: var(--accent-color-secondary);

  transform: translateX(-50%) scaleX(0);
  transform-origin: left;

  transition: transform 0.25s ease-in-out;
}

.menu-navigation-list li.active {
  color: var(--accent-color-secondary);
}

.menu-navigation-list li.active::after {
  transform: translateX(-50%) scaleX(1);
}

.menu-navigation-list li:hover::after {
  transform: translateX(-50%) scaleX(1);
  background-color: var(--accent-color-tertiary);
}

.menu-socialmedia-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-socialmedia-link .socialmedia-link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.socialmedia-link-list .socialmedia-link {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
