.service-section {
  background-color: var(--primary-color);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.service-section-container .service-section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: fit-content;
  gap: 24px;
  flex: 0 0 464px;
}

.service-section-heading .heading {
  font-size: var(--font-size-lv6);
  color: var(--text-title-color);
  font-weight: var(--font-weight-lv8);
}

.service-section-heading .sub-heading {
  width: 464px;
  height: fit-content;
  font-weight: var(--font-weight-lv4);
  font-size: var(--font-size-lv2);
  color: var(--text-subtitle-color);
  line-height: 24px;
}

/* the services card designing */
.service-section .service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: start;
}
